body {
background-color: pink;
}

.koira {
margin: 50px;
}

div {
    background-color: bisque;
    margin: 20px;
    border: solid 3px orange;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    color: orange;
    width: 50%;
    text-align: center;
    position: absolute;
}

div img {
    border-radius: 30px;
    width: 40%;
}

.rapukeitto {
    z-index: 1;
    left: 15px;
}

.minionit {
    z-index: 2;
    top: 50%;
    left: 40px;
}

.mars {
    
}
    
    
