body {
background-color: pink;
margin: 10px;
text-align: center;
}

.koira {
margin: 50px;
}

.oranssi {
    background-color: bisque;
    margin: 20px;
    border: solid 3px orange;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    color: orange;
    width: 50%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

div img {
    border-radius: 30px;
    width: 40%;
}

.ale {
    text-align: center;
}

.Dark {
    color: #FFFFFF;
    background-color: #000000;
    margin: 0px;
    padding: 10px;
    font-size: 30px;
}

.Notdark {
    color: #000000;
    background-color: #FFFFFF;
    margin: 0px;
    padding: 10px;
    font-size: 30px;
}

.iframe {
    margin: 20px;
}

.listatkeskelle {
    margin-right: auto;
    margin-left: auto;
    width: 20%;
}

.vasen {
    margin-right: 90%;
}

.container {
    display: flex;
    justify-content: start;
    width: 100%;
}