body {
background-color: pink;
text-align: center;
}

.koira {
margin: 50px;
}

div {
    background-color: bisque;
    margin: 20px;
    border: solid 3px orange;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    color: orange;
    width: 50%;
    text-align: center;
}

div img {
    border-radius: 30px;
    width: 40%;
}

.ale {
    text-align: center;
}

.Dark {
    color: #FFFFFF;
    background-color: #000000;
}

.Notdark {
    color: #000000;
    background-color: white;
}

